* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    display: block;
    border: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

input {
    outline: none;
}

body {
    background-color: #0a383f;
    color: white;
}